*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

body{
    display: flex;
   
  }

 .left {
    height: 100vh;
    width: 28rem;
}

 .cover-img{
    height: 100%;
    width: 100%;
    position: relative;
}
 .credit{
  position: absolute;
  bottom: 22px;
  font-size: small;
  left: 8.7em;
  opacity: 0.8;
}

.credit > a {
    text-decoration: none;
    color: black;
}

 .logo {
    position: absolute;
    top: 7rem;
    width: 14rem;
    left: 6.8em;
    background-color: rgba(234, 236, 236, 0.452);
    padding: 0.5em;
    border-radius: 4px;
 }
